// Main Footer
footer.main-footer
  // To the right
  .pull-right.hidden-xs
    | Act Node
  // Default to the left
  strong
    | Copyright © 2017 
    a(href='#') MSIZE
    | .
  |  All rights reserved.