extends /Shared/layout

block append head
  // 台灣郵遞區號資料
  script(type="text/javascript", src='../js/example/TaiwanZip.js')
  script(type="text/javascript", src='../js/example/example04.js')

block scripts
  script.
    //由taiwanZips取出程式清單
    var cityNames = [];
    for (var propName in taiwanZipData)
        cityNames.push(propName);
    
    ko.applyBindings(new MyViewModel());

block content
  p 
  p
  br
  h2
    | 雙 combobox 相依選擇
  select(data-bind="options: cities3, optionsCaption: '選擇縣市', value: city3")
  select(data-bind="options: areas3, optionsCaption: '選擇區域', optionsText: 'text', optionsValue: 'value', value: areaZip3")
  br