extends ../../Shared/layout

block append head
  // 台灣郵遞區號資料
  script(type="text/javascript", src='/jquery-twzipcode/jquery.twzipcode.js')
  // script(type="text/javascript", src='../js/example/example04.js')

block scripts
  script.
    $('#twzipcode').twzipcode();

block content
  p 使用 jquery-twzipcode
  p
  twzipcode
    div(data-role='county', data-name='表單名稱', data-value='預設值', data-style='樣式名稱')
    div(data-role='district', data-name='district[]', data-value='大安區', data-style='district-style')
    div(data-role='zipcode', data-name='zipcode', data-value='160', data-style='zipcode-style')